<mat-card>
  <h2 class="mat-elevation-z1">Gallery</h2>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">

      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wattpad</mat-card-title>
          <mat-card-subtitle>Books</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Zaynah.jpg">
          <mat-card-actions>
            <button mat-button>Magiczard Academy: The Heartless Princess</button>
            <button mat-button>Zinnriee</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wattpad</mat-card-title>
          <mat-card-subtitle>Books</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Legacy.jpg">
          <mat-card-actions>
            <button mat-button>The Legendary's Legacy</button>
            <button mat-button>Zinnriee</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wattpad</mat-card-title>
          <mat-card-subtitle>Books</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Twisted.jpg">
          <mat-card-actions>
            <button mat-button>Her Twisted Fate</button>
            <button mat-button>Zinnriee</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wattpad</mat-card-title>
          <mat-card-subtitle>Books</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Kidnapped.jpg">
          <mat-card-actions>
            <button mat-button>Effortlessly Kidnapped</button>
            <button mat-button>Zinnriee</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wattpad</mat-card-title>
          <mat-card-subtitle>Books</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/Gem.jpg">
          <mat-card-actions>
            <button mat-button>Unvalued Gem</button>
            <button mat-button>Zinnriee</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Scenery</mat-card-title>
          <mat-card-subtitle>Magical</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/rainow.jpg">
          <mat-card-actions>
            <button mat-button>Rainbow</button>
            <button mat-button>ROYGBIV</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Insects</mat-card-title>
          <mat-card-subtitle>Colorful</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/butterfly.jpg">
          <mat-card-actions>
            <button mat-button>Butterfly</button>
            <button mat-button>Cute</button>
          </mat-card-actions>
        </mat-card>
      </div> <div fxFlex="25%">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Hypnotism</mat-card-title>
          <mat-card-subtitle>Magical</mat-card-subtitle>
        </mat-card-header>
        <mat-card class="mat-elevation-z4">
          <img mat-card-image src="../../assets/spiral.jfif">
          <mat-card-actions>
            <button mat-button>Spiral</button>
            <button mat-button>Color</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

</mat-card>