<mat-card class="example-card">
  <h2 class="mat-elevation-z1">My Profile</h2>
  <mat-card-title-group>
    <mat-card-title class="mat-elevation-z2">
      <h3>Hello, my Name is</h3>
      <h1>Faye Marie <span>Oscobido</span></h1>
      <h4>Bachelor of Science in<br>Information Technology</h4>
    </mat-card-title>
    <img class="mat-elevation-z4" mat-card-xl-image src="../../assets/Faye.jpg">
  </mat-card-title-group>
  <mat-card-content class="mat-elevation-z2">
    <p>Hi, I am Faye but you can call me, Paye. I am turning 21 years old and residing at Sagkahan Carigara Leyte. I am the eldest among 4 siblings. I love making stories and I'm author/writer in the most popular reading website Wattpad. </p>
  </mat-card-content>
</mat-card>